<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Funtional Suite">
 <listeners>

<listener class-name ="Automation_Test.Selenium_Java.TestNG_Test" />

</listeners> 
 <test verbose="2" name="Testname">


    <classes>
<class name="Automation_Test.Selenium_Java.Initialize_Browser"/>
    </classes>
  </test> 
</suite> 
